
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <title> </title>
    <link rel="stylesheet" href="/css/Administrador.css">
</head>
<body>

    <div>
        

        <div class="divFondo">
            <div class="admin-button">
                <a href="@Url.Action("Registro", "Home")">Registro</a>
                <br>
                <a href="@Url.Action("Personal", "Home")">Personal</a>
                <br>
                <a href="@Url.Action(" ", "Home")">Generar Reportes</a>
                <br>
                <a href="@Url.Action(" ", "Home")">Crear Asignatura</a>
                <br>
                <a href="@Url.Action(" ", "Home")">Crear Curso</a>
            </div>
        </div>
    </div>



</body>
</html>


